
.icon-location:before { content: '\e800'; } /* '' */
.icon-location-o:before { content: '\e801'; } /* '' */
.icon-compass:before { content: '\e802'; } /* '' */
.icon-compass-1:before { content: '\e803'; } /* '' */
.icon-dron:before { content: '\e804'; } /* '' */
.icon-pig-1:before { content: '\e805'; } /* '' */
.icon-placehol:before { content: '\e806'; } /* '' */
.icon-poland-1:before { content: '\e807'; } /* '' */
.icon-wzsip:before { content: '\e808'; } /* '' */
.icon-qgis-1:before { content: '\e809'; } /* '' */
.icon-radio-tr:before { content: '\e80a'; } /* '' */
.icon-poland:before { content: '\e80b'; } /* '' */
.icon-satellite:before { content: '\e80c'; } /* '' */
.icon-space-2:before { content: '\e80d'; } /* '' */
.icon-space:before { content: '\e80e'; } /* '' */
.icon-sputnik:before { content: '\e80f'; } /* '' */
.icon-growing-1:before { content: '\e810'; } /* '' */
.icon-agro_elearn:before { content: '\e811'; } /* '' */
.icon-pig:before { content: '\e812'; } /* '' */
.icon-database:before { content: '\e813'; } /* '' */
.icon-data:before { content: '\e814'; } /* '' */
.icon-dbrikt:before { content: '\e815'; } /* '' */
.icon-dbrikt_2:before { content: '\e816'; } /* '' */
.icon-harvest:before { content: '\e817'; } /* '' */
.icon-drone:before { content: '\e818'; } /* '' */
.icon-farmer-1:before { content: '\e819'; } /* '' */
.icon-farm:before { content: '\e81a'; } /* '' */
.icon-tractor:before { content: '\e81b'; } /* '' */
.icon-field:before { content: '\e81c'; } /* '' */
.icon-map-1:before { content: '\e81d'; } /* '' */
.icon-growing:before { content: '\e81e'; } /* '' */
.icon-maps-1:before { content: '\e81f'; } /* '' */
.icon-gis-en-ict:before { content: '\e820'; } /* '' */
.icon-database-1:before { content: '\e821'; } /* '' */
.icon-maps:before { content: '\e822'; } /* '' */
.icon-space-1:before { content: '\e824'; } /* '' */
.icon-parcel:before { content: '\e825'; } /* '' */
.icon-qgis:before { content: '\e826'; } /* '' */
.icon-inspare:before { content: '\e827'; } /* '' */
.icon-marine:before { content: '\e828'; } /* '' */
.icon-logo-atmosphere:before { content: '\e829'; } /* '' */
.icon-climate:before { content: '\e82a'; } /* '' */
.icon-emergency:before { content: '\e82b'; } /* '' */
.icon-logo-esa:before { content: '\e82c'; } /* '' */
.icon-logo-land:before { content: '\e82d'; } /* '' */
.icon-security:before { content: '\e82e'; } /* '' */
.icon-map:before { content: '\e82f'; } /* '' */
.icon-marker:before { content: '\e830'; } /* '' */
.icon-osm:before { content: '\e831'; } /* '' */
.icon-notebook:before { content: '\e832'; } /* '' */
.icon-gps:before { content: '\e833'; } /* '' */
.icon-eucom:before { content: '\e834'; } /* '' */
.icon-pin-map:before { content: '\e835'; } /* '' */
.icon-folded-map-icon:before { content: '\e836'; } /* '' */
.icon-tree-icon:before { content: '\e837'; } /* '' */
.icon-farmer:before { content: '\e9c3'; } /* '' */
.icon-gis-soft:before { content: '\e9c4'; } /* '' */